@import 'helpers/vars';
@import 'helpers/mixins';

body.login {
	background: url('../images/bgbild-login-800.jpg') no-repeat fixed center 100% /cover #000;
}
body.login div#login {}
body.login div#login h1 {
	background: #fff;
	padding: 20px;
}
body.login div#login h1 a {
	background-image: url('../images/dnkort-logo.png');
	background-size: contain;
	width: 100%;
	height: 42px;
	margin: 0;
}
body.login div#login form#loginform {
	margin: 0;
	padding: 0 20px 20px;
}
body.login div#login form#loginform p {}
body.login div#login form#loginform p label {}
body.login div#login form#loginform input {}
body.login div#login form#loginform input#user_login {}
body.login div#login form#loginform input#user_pass {}
body.login div#login form#loginform p.forgetmenot {}
body.login div#login form#loginform p.forgetmenot input#rememberme {}
body.login div#login form#loginform p.submit {}
body.login div#login form#loginform p.submit input#wp-submit {
	background: $dn-turq;
	border: 0;
	@include border-radius(0);
	font-weight: 800;
}
body.login div#login p#nav {
	display: none;
}
body.login div#login p#nav a {}
body.login div#login p#backtoblog {
	background: #fff;
	margin: 0;
	border-top: 1px solid #E5E5E5;
	padding: 20px;
}
body.login div#login p#backtoblog a {}