.sidebar {

	.widget {
		margin-bottom: 20px;
		> h4 {
			@include dnfont(GuardianSans Bold);
			color: $dn-red;
			border-top: 5px solid $dn-red;
			padding: 7px 0;
			margin: 0;
		}
		ul {
			padding: 0;
			margin: 0;

			li {
				display: block;
				position: relative;
				padding: 0;
				margin: 0;
			}

			li span.menu-toggle {
				position: absolute;
				top: 0;
				right: 0;
				width: 30px;
				height: 29px;
				text-align: center;
				border-left: 1px dotted #333;
				cursor: pointer;
				@include transition(all 0.2s ease-in-out);
			}
			li span.menu-toggle:after {
				color: $dn-red;
				content: "\e250";
				font-family: 'Glyphicons Halflings';
				position: absolute;
				top: 4px;
				right: 8px;
				@include transition(all 0.2s ease-in-out);
			}

			li a {
				display: block;
				border-bottom: 1px dotted #999;
				padding: 5px 0;
				font-weight: 800;
				position: relative;
			}

			li ul.children,
			li ul.sub-menu {
				display: none;
				li a {
					padding-left: 15px;
				}
			}

			li.active > ul {
				display: block;
				background: rgba(233, 10, 43, 0.04);
			}

			li.active > span.menu-toggle:after {
				color: $dn-red;
				content: "\e252";
				font-family: 'Glyphicons Halflings';
				@include transition(all 0.2s ease-in-out);
			}
		}
	}

	.widget_ultimate_posts article {
		border: 0;
		padding: 0;
		margin-bottom: 20px;
		header {
			background: #F4F4F4;
		}
		.entry-title {
			line-height: 19px;
			font-size: 15px;
			font-weight: 200;
			margin: 0;
			padding: 10px;
		}
		.entry-image {
			width: 100%;
			display: block;
			margin: 0;
			padding: 0;
			a {
				width: 100%;
				display: block;
			}
			img {
				min-width: 100%;
			}
		}
	}
}